.card-item {
  transition: transform 0.5s;
}

.card-item:hover {
  transform: scale(1.1);
}

.icon-xl {
  width: 2rem;
  height: 1rem;
  color: #ffffff;
}
Link{
    background-color:darkgreen
}
.checkout-steps > div{
  border-radius: 0.2rem solid #a0a0aa;
  color: #a0a0aa;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #557794;
}
.text-bold{
  font-weight: bold;
}

.banner{
  background-image: linear-gradient(to right, #7692A9, #557794);
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top:1em
}

.banner > h1{
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}

.banner > p{
  font: 300 1.4vmax "Lucida Sans";
}

.banner::after{
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}