.card-item {
  transition: transform 0.5s;
}

.card-item:hover {
  transform: scale(1.1);
}
.icon-xl {
  width: 2rem;
  height: 1rem;
  color: #ffffff;
}
Link{
    background-color:darkgreen
}
.checkout-steps > div{
  border-radius: 0.2rem solid #a0a0aa;
  color: #a0a0aa;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #557794;
}
.text-bold{
  font-weight: bold;
}